.designer {
    .inner{
        height: 250px;
        border: 2px solid transparent;
        position: relative;
        padding: 10px;
        width: 250px;
    }
    .gwd-rect-1rvy {
        position: absolute;
        height: 153px;
        border: 2px solid white;
        transform: translate3d(-252px, 0px, 0px);
        transform-style: preserve-3d;
        top: 31px;
        left: 102%;
        width: 248px;
        transform-origin: 123.668px 76.5px 0px;
        border-radius: 8px;
    }
    .gwd-rect-1wv6 {
        position: absolute;
        width: 53px;
        height: 14px;
        background-color: rgb(255, 255, 255);
        transform-style: preserve-3d;
        left: 50%;
        transform: translate3d(-28px, 0px, 0px);
        top: 184px;
    }
    .gwd-svg-1gdx {
        top: 196px;
        width: 90px;
        height: 4px;
        transform-origin: 44.826px 2.19296px 0px;
        transform: translate3d(-47px, 0px, 0px);
    }
    .gwd-div-1yi9 {
        position: absolute;
        top: 33px;
        height: 151px;
        left: 195px;
        width: 45px;
        transform-origin: 22.0895px 75.2327px 0px;
        padding: 5px;
        border-left: 3px solid white;
    }
    .gwd-oval-10me {
        position: absolute;
        width: 24.916px;
        height: 24.916px;
        top: 2px;
        left: 15px;
        transform-style: preserve-3d;
        fill: rgb(122, 244, 120);
        transform: translate3d(-6px, 0px, 0px);
    }
    .gwd-rect-152a {
        position: absolute;
        left: 43px;
        top: 2px;
        width: 75.57%;
        height: 119px;
        transform-origin: 13.5352px 59.668px 0px;
        background-color: rgb(3, 169, 244);
        transform-style: preserve-3d;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    }
    .gwd-rect-xd3u {
        position: absolute;
        top: 30px;
        height: 28px;
        left: -1px;
        transform-origin: 31.0678px 13.9323px 0px;
        transform-style: preserve-3d;
        transform: translate3d(-8px, 31px, 0px) scale3d(0.598155, 3.2289, 1);
        width: 56px;
        background-color: rgb(255, 140, 50);
    }
    .gwd-div-1tw9 {
        position: absolute;
        height: 122px;
        top: 44px;
        width: 151px;
        transform-origin: 75.4721px 60.9635px 0px;
        left: 29px;
    }
    .gwd-svg-vtut {
        left: 12px;
    }
    .gwd-svg-sg2y {
        top: 0px;
        left: 0px;
        height: 144px;
        width: 37px;
    }
    .gwd-svg-1w5v {
        left: 0px;
        transform-origin: 17.7077px 70.8952px 0px;
        top: 0px;
        height: 0px;
        width: 0px;
    }
    .gwd-div-xboa {
        position: absolute;
        top: 33px;
        height: 151px;
        padding: 5px;
        width: 21px;
        transform-origin: 10.2808px 75.2304px 0px;
        left: 0px;
        border-right: 3px solid white;
    }
    @keyframes gwd-gen-d1aobgwdanimation_gwd-keyframes {
        0% {
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
        }
        11.9% {
            transform: translate3d(-4px, 21px, 0px) scale3d(1.03782, 0.64739, 1);
        }
        95.24% {
            transform: translate3d(-4px, 21px, 0px) scale3d(1.03782, 0.64739, 1);
        }
        100% {
            transform: translate3d(-4px, 21px, 0px) scale3d(1.03782, 0.64739, 1);
        }
    }
    .gwd-div-1tw9 .gwd-gen-1aobgwdanimation {
        animation: gwd-gen-d1aobgwdanimation_gwd-keyframes 4.2s linear 0s infinite alternate forwards;
    }
    @keyframes gwd-gen-dwjklgwdanimation_gwd-keyframes {
        0% {
            transform: translate3d(-8px, 31px, 0px) scale3d(0.598155, 3.2289, 1);
        }
        11.9% {
            transform: translate3d(-8px, 31px, 0px) scale3d(0.598155, 3.2289, 1);
        }
        26.19% {
            transform: translate3d(-8px, 0px, 0px) scale3d(0.598155, 1.00913, 1);
        }
        40.48% {
            transform: translate3d(111px, -25px, 0px) scale3d(0.598155, 1.25334, 1);
        }
        54.76% {
            transform: translate3d(91px, -25px, 0px) scale3d(1.46036, 1.25334, 1);
        }
        95.24% {
            transform: translate3d(91px, -25px, 0px) scale3d(1.46036, 1.25334, 1);
        }
        100% {
            transform: translate3d(91px, -25px, 0px) scale3d(1.46036, 1.25334, 1);
        }
    }
    .gwd-div-1tw9 .gwd-gen-wjklgwdanimation {
        animation: gwd-gen-dwjklgwdanimation_gwd-keyframes 4.2s linear 0s infinite alternate forwards;
    }
    @keyframes gwd-gen-d3qoegwdanimation_gwd-keyframes {
        0% {
            transform: translate3d(-6px, 0px, 0px) scale3d(1, 1, 1);
        }
        64.29% {
            transform: translate3d(-6px, 0px, 0px) scale3d(1, 1, 1);
        }
        76.19% {
            transform: translate3d(27px, 3px, 0px) scale3d(1, 1, 1);
        }
        83.33% {
            transform: translate3d(27px, 3px, 0px) scale3d(1.93961, 1.93961, 1);
        }
        95.24% {
            transform: translate3d(27px, 5px, 0px) scale3d(1.33952, 1.33952, 1);
        }
        100% {
            transform: translate3d(27px, 5px, 0px) scale3d(1.33952, 1.33952, 1);
        }
    }
    .gwd-div-1tw9 .gwd-gen-3qoegwdanimation {
        animation: gwd-gen-d3qoegwdanimation_gwd-keyframes 4.2s linear 0s infinite alternate forwards;
    }
}