.experience-number-parent {
  background: #151515;
  padding: 20px 10px 50px 10px;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.71);
  margin-top: 2rem;
  border-radius: 10px;
  //max-width: 700px;
  position: relative;
  .download-cv-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.57);
    @include media-breakpoint-up(lg) {
      left: 35px;
      transform: translate(0, 50%);
    }
  }
  .title {
    position: relative;
    padding: 8px 15px;
    font-weight: 700;
    font-size: 19px;
    border-radius: 4px;
    overflow: hidden;
    height: 42px;
  }
  .text {
    position: absolute;
    top: 7px;
    opacity: 0;
  }
  .text-1 {
    animation: slideTextUp 4s infinite;
  }
  .text-2 {
    animation: slideTextUp 4s infinite 2s;
  }

  .inner {
    display: flex;
    justify-content: space-around;
    @include media-breakpoint-up(lg) {
      width: 400px;
    }
  }
  .num {
    text-align: center;
  }
  .n-value {
    font-size: 40px;
    font-weight: 700;
    color: $primary;
    font-family: 'Rajdhani', sans-serif;
  }
  .n-label {
    &:after {
      content: attr(data-sm);
      display: block;
      color: grey;
      font-weight: 700;
      font-size: 14px;
    }
  }
  @include media-breakpoint-up(lg) {
    .n-label {
      &:after {
        font-size: 16px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .experience-number-parent {
    .title {
      height: 53px;
      font-size: 25px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .experience-number-parent {
    position: absolute;
    right: 0;
    left: 60%;
  }
}

@keyframes slideTextUp {
  0% {
    top: 7px;
    opacity: 1;
  }
  50% {
    top: -40px;
    opacity: 1;
  }
  51% {
    opacity: 0;
    top: -40px;
  }
  52% {
    opacity: 0;
    top: 55px;
  }
  53% {
    opacity: 1;
  }
  100% {
    top: 7px;
    opacity: 1;
  }
}
