.experience-number-parent {
    background: white;
    padding: 20px 10px 20px 10px;
    box-shadow: 0 1px 14px 4px #0003;
    margin: 4rem auto;
    border-radius: 5px;
    max-width: 700px;
    position: relative;
    .title {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      padding: 8px 15px;
      background-color: #ffeb3b;
      font-weight: 700;
      font-size: 19px;
      border-radius: 4px;
      box-shadow: 0px -10px 17px 5px rgba(0, 0, 0, 0.16);
      overflow: hidden;
      height:42px;
      width: 214px;
    }
    .text {
      position: absolute;
      top: 7px;
      opacity: 0;
    }
    .text-1 {
      animation: slideTextUp 4s infinite;
    }
    .text-2 {
      animation: slideTextUp 4s infinite 2s;
    }
  
    .inner {
      display: flex;
      justify-content: space-around;
    }
    .num {
      text-align: center;
    }
    .n-value {
      font-size: 40px;
      color: $primary;
    }
    .n-label {
      &:after {
        content: attr(data-sm);
        @media (min-width: 768px) {
          content: attr(data-md);
        }
        display: block;
        color: grey;
        font-weight: 700;
        font-size: 14px;
      }
    }
    @media (min-width: 768px) {
      .n-value {
        font-size: 50px;
      }
      .n-label {
        &:after {
          content: attr(data-md);
          font-size: 16px;
        }
      }
    }

  }

  @include media-breakpoint-up(md) {
    .experience-number-parent {
        margin: 8rem auto;
        .title {
          transform: translateX(0%);
          left: 19px;
          height: 53px;
          font-size: 25px;
          width: 275px;
        }
    }

  }
  @keyframes slideTextUp {
    0% {
      top: 7px;
      opacity: 1;
    }
    50% {
      top: -40px;
      opacity: 1;
    }
    51% {
      opacity: 0;
      top: -40px;
    }
    52% {
      opacity: 0;
      top: 55px;
    }
    53% {
      opacity: 1;
    }
    100% {
      top: 7px;
      opacity: 1;
    }
  }
  