html {
  font-size: 16px;

  @include media-breakpoint-up(xxl) { 
    font-size: 18px;
  }
}

body {
  font-size: 1rem;
  background-color: $body-background-color;
  color: $body-text-color;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 15px 15px;
  background: $body-background-color;
  z-index: 9999;
  .icon-logo{
    font-size:40px;
    @include media-breakpoint-up(md) {
     
        font-size:50px;
      
    }
    
  }
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 2rem;
  }
}

li + li {
  margin-top: 5px;
}
ul {
  padding-left: 18px;
  margin-bottom: 1.5rem;
}
hr {
  height: 1px;
  background: hsla(0, 0%, 50%, 0.5);
  border: 0 none;
}
