@font-face {
  font-family: 'icomoon';
  src: url('../../static/fonts/icomoon.eot?weix62');
  src: url('../../static/fonts/icomoon.eot?weix62#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/icomoon.ttf?weix62') format('truetype'),
    url('../../static/fonts/icomoon.woff?weix62') format('woff'),
    url('../../static/fonts/icomoon.svg?weix62#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list-view:before {
  content: '\e900';
}
.icon-grid-view:before {
  content: '\e901';
}
.icon-calendar:before {
  content: '\e902';
}
.icon-double-arrow:before {
  content: '\e903';
}
.icon-arrow-right:before {
  content: '\e904';
}
.icon-category:before {
  content: '\e905';
}
.icon-pluralsight:before {
  content: '\e90b';
}
.icon-logo:before {
  content: '\e908';
}
.icon-link:before {
  content: '\e907';
}
.icon-marker:before {
  content: '\e90c';
}
.icon-cake:before {
  content: '\e90d';
}
.icon-email:before {
  content: '\e90e';
}
.icon-open-new-tab:before {
  content: '\e90f';
}
.icon-stack-overflow-bottom:before {
  content: '\e906';
}
.icon-stack-overflow-top:before {
  content: '\e909';
}
.icon-linkedin:before {
  color: #0077b5;
  content: '\e90a';
}
.icon-github:before {
  content: '\e910';
  color: var(--bodyColor);
}
.icon-stack-overflow:before {
  content: '\e911';
}
.icon-behance:before {
  color: #1769ff;
  content: '\e912';
}
.icon-codepen:before {
  content: '\e913';
  color: var(--bodyColor);
}
.icon-moon:before {
  content: '\e914';
}
.icon-sun:before {
  content: '\e915';
}
.icon-arrow:before {
  content: '\e916';
}
.icon-stack-overflow-color {
  position: relative;
}
.icon-stack-overflow-color:before {
  content: '\e909';
  color: #f48024;
}
.icon-stack-overflow-color:after {
  content: '\e906';
  position: absolute;
  left: 0;
  top: 0;
  color: #bcbbbb;
}
.icon-stop:before {
  content: '\e917';
}
.icon-pause:before {
  content: '\e918';
}
.icon-play:before {
  content: '\e919';
}
.icon-single-arrow:before {
  content: '\e91a';
}
.icon-single-arrow-big:before {
  content: '\e91b';
}
// Import Vanilla framework
// @import '~vanilla-framework/scss/vanilla';
// @include vf-base;
// @include vf-b-placeholders;
// @include vf-p-headings;

html,
.root {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
body,
.article {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
body {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

:root {
  --spacing-px: '1px';
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontWeight-normal: 400;
  --fontWeight-bold: 500;
  --fontWeight-black: 700;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.889rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.125rem;
  --fontSize-3: 1.266rem;
  --fontSize-4: 1.424rem;
  --fontSize-5: 1.602rem;
  --fontSize-6: 1.802rem;

  @media (min-width: 992px) {
    --fontSize-0: 0.833rem;
    --fontSize-1: 1rem;
    --fontSize-2: 1.2rem;
    --fontSize-3: 1.44rem;
    --fontSize-4: 1.728rem;
    --fontSize-5: 2.074rem;
    --fontSize-6: 2.488rem;
  }
  // --fontSize-7: 2.986rem;
}
ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

// /* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: 1;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--primary);
}

pre {
  //background-color: #2f1e2e !important;
  //border-radius: 4px;
  //font-size: 14px;
}
code {
}
@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}

.gatsby-highlight-code-line {
  background-color: #4f424c;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 1em;
}
.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.date {
  color: #9e9e9e;
}
.category-shadow {
  box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.16);
}
.navbar-special-styles.navbar-special-styles {
  box-shadow: none;
  background-color: transparent;
  backdrop-filter: none;
}

.half-rem-mt {
  margin-top: 0.5rem;
}
.half-rem-mb {
  margin-bottom: 0.5rem;
}
.two-rem-mt {
  margin-top: 2rem;
}
.two-rem-mb {
  margin-bottom: 2rem;
}
.four-rem-mt {
  margin-top: 4rem;
}
.four-rem-mb {
  margin-bottom: 4rem;
}
.six-rem-mt {
  margin-top: 6rem;
}
.six-rem-mb {
  margin-bottom: 6rem;
}
.one-rem-mb {
  margin-bottom: 1rem;
}
.one-rem-mt {
  margin-top: 1rem;
}
/*Add back the container background-color, border-radius, padding, margin and overflow that we removed from <pre>.*/
.gatsby-highlight {
  background-color: #2d2d2d;
  border-radius: 0.3em;
  margin: 0.5em 0 1.5em;
  padding: 1em;
  overflow: auto;
  //border: 2px solid #38FF64;
  border-left: 6px solid #38ff64;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);

  /*
  Remove the default PrismJS theme background-color, border-radius,margin, padding and overflow.
  1. Make the element just wide enough to fit its content.
  2. Always fill the visible space in .gatsby-highlight.
  3. Adjust the position of the line numbers
  */
  pre[class*='language-'] {
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: initial;
    float: left;
    min-width: calc(100% - 3em);

    &.line-numbers {
      padding-left: 3em;
      padding-right: 1em;

      .line-numbers-rows {
        right: calc(100% - 25px);
        left: unset !important;
      }

      .gatsby-highlight-code-line {
        background-color: #455a64;
        display: block;
        margin-right: -1em;
        margin-left: -1em;
        padding-right: 1em;
        padding-left: 0.75em;
      }
    }
  }
}
:not(pre) > code[class*='language-'] {
  padding: 2px 8px;
  font-size: 0.85em;
  color: #38ff64;
  background: #404040;
}
.text-center {
  text-align: center;
}
.text-primary {
  color: var(--primary);
}
.text-accent {
  color: var(--accent);
}
.metaball-svg {
  height: 100vh;
  width: 100%;
  fill: red;
  .balls {
    /* transition: transform 1s linear; */
    will-change: transform;
  }
}

.tweakpane-container {
  position: fixed;
  right: 0;
  top: 66px;
}
.text-right {
  text-align: right;
}
.relative {
  position: relative;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
