@font-face {
  font-family: 'icomoon';
  src: url('../../static/fonts/icomoon.eot?weix62');
  src: url('../../static/fonts/icomoon.eot?weix62#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/icomoon.ttf?weix62') format('truetype'),
    url('../../static/fonts/icomoon.woff?weix62') format('woff'),
    url('../../static/fonts/icomoon.svg?weix62#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: '\e900';
}
.icon-github:before {
  content: '\e901';
}
.icon-stack-overflow:before {
  content: '\e902';
}
.icon-behance:before {
  content: '\e903';
}
.icon-codepen:before {
  content: '\e904';
}
.icon-stack-overflow-color:before {
  content: '\e906';
  color: #f48024;
}
.icon-stack-overflow-color:after {
  content: '\e905';
  position: absolute;
  left: 0;
  top: 0;
  color: #bcbbbb;
}

.icon-marker:before {
  content: '\e90c';
}
.icon-cake:before {
  content: '\e90d';
}
.icon-open-new-tab:before {
  content: '\e90f';
}
.icon-email:before {
  content: '\e90e';
}
.icon-link:before {
  content: '\e907';
}
.icon-logo:before {
  content: '\e908';
}
.icon-zigzag:before {
  content: '\e909';
}
html,
.root {
  -webkit-font-smoothing: antialiased;
}
body,
.article {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
h1,
.h1 {
  font-size: 1.9285714rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
h2,
.h2 {
  font-size: 1.5714286rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h3,
.h3 {
  font-size: 1.2857143rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h4,
.h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h5,
.h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
