:root {
  --body-background-color: white;
  --text-color: #333;
}

$font-family-sans-serif: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px
);
$green: #00ac4b;
$orange: #f6914f;
$red: #d12229;
$blue: #00bcd4;
$primary: #03a9f4;
$linkedin: #0077b5;
$behance: #1769ff;
$codepen: #0ebeff;
$stackoveflow: #f48024;
$stackoveflow-secondary: #bcbbbb;
$github: #333;
