@import './variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';
//@import '../../node_modules/bootstrap/scss/buttons.scss';
//@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import './helpers.scss';
@import './icons.scss';
@import './components/button.scss';
@import './components/container.scss';
@import './components/general-styles.scss';
@import './components/standalone.scss';
@import './components/form.scss';
//@import './components/v-card.scss';
@import './components/experience.scss';

.section-header {
}

.sub-header {
}

.card {
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.07);
}

section .container {
  padding: 5rem 15px;
}

.linkedin {
  color: $linkedin;
}

.behance {
  color: $behance;
}

.codepen {
  color: $codepen;
}

.github {
  color: $github;
}
.text-primary {
  color: $primary;
}
.confetti{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/strayobjects.svg);
  background-repeat: no-repeat;
  z-index: 0;
  background-size: cover;
  background-position: center;
  //transform: translateZ(0);
}

.intro {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  align-items: center;
  flex-direction: column;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1287 550"><text x="0" y="0" font-family="IBM Plex Sans"  font-size="248" font-weight="bold" fill="rgb(34, 34, 34)"><tspan x="0" dy="1em">Designer &amp; </tspan> <tspan x="35" dy="1em">Developer</tspan></text></svg>');
  background-size: 95% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  // perspective: 1px;
  // overflow-x: hidden;
  // overflow-y: auto;


  @include media-breakpoint-up(md) {
    background-size: 80% auto;
  }
  @include media-breakpoint-up(xl) {
    background-size: 60% auto;
  }
  .position {
    color: #b0bec5;
  }
  .details {
    padding: 15px;

  //   transform: translateZ(-1px);
  //   position: absolute;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
    @include media-breakpoint-up(xl) {
      padding: 0;
    }
  }

  .name-svg {
    vector-effect: non-scaling-stroke;
    width: 70vw;
    // height:186px;
    margin: 0 auto;
    text {
      font-family: 'Ubuntu', sans-serif;
      font-size: 70px;
      stroke-dasharray: 100%;
      stroke-dashoffset: 100%;
      animation: draw 3s infinite forwards;
    }
    tspan {
      letter-spacing: -2;
      &:nth-child(2) {
        stroke: $primary;
        animation: drawDot 3s infinite forwards;
      }
    }
    @media all and (-ms-high-contrast: none) {
      text {
        fill: white;
        stroke-dashoffset: 0%;
      }
      tspan {
        &:nth-child(2) {
          fill: $primary;
          stroke: $primary;
        }
      }
    }
    @include media-breakpoint-up(md) {
      width: 348px;
      height: 244px;
    }
    @include media-breakpoint-up(xl) {
      width: 538px;
      height: 374px;
      
    }


  }
}

@keyframes draw {
  0% {
    fill: transparent;
  }
  50% {
    fill: transparent;
  }
  100% {
    fill: white;
    stroke-dashoffset: 0%;
  }
}
@keyframes drawDot {
  0% {
    fill: transparent;
  }
  50% {
    fill: transparent;
  }
  100% {
    fill: $primary;
    stroke-dashoffset: 0%;
  }
}
